body {
  font-family: sans-serif;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input, button {
  margin-bottom: 10px;
  padding: 20px;
  width: 100%; /* Занимает всю ширину на смартфоне */
  box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

